body {
<<<<<<< HEAD
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
	background: linear-gradient(-45deg, #E7E7E7, #B2B2B2, #7E7E7E, #484848);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

#root {
  margin: 200px;
}

.result {
  display: flex;
  align-items: center;
  background: #FFFFFF;
  border: 1px solid #EEEEEE;
  border-radius: 5px;
  box-shadow: 0 4px 12px rgba(#000, 0.12);
  margin: 0 0 20px 0;
  padding: 20px 40px;
  font-family: 'Open Sans', sans-serif;
  color: #999999;
  font-size: 22px;

  @media (max-width: 480px) {
    flex-direction: column;
    text-align: center;
  }
}
=======
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
>>>>>>> c1632d5989a78f69cc5fa5907001b1327647aab3
